*{
	margin: 0;
	padding: 0;
}
.Header{
	width: 30%;
	margin: 50px auto 0px;
	color: rgb(80, 255, 80);
	background: radial-gradient(#fff,#ffae42);
	text-align: center;
	border: 1px solid #80c4de;
	border-bottom: none;
	border-radius: 10px 10px 0 0;
	padding: 20px;
}	
body{
	font-size: 120%;
	background: #f8f8ff;
	font-family: 'Montserrat', sans-serif;
	background-image: url(Images/HomeImageBlurBG.jpg);
	background-size: cover;
}
.Button{
	display:inline-block ;
	background:radial-gradient(#fff,#abdbe3) ;
	color: blueviolet;
	padding: 8px 30px;
	margin: 30px 0;
	border-radius: 30px;
	transition:background 0.5s ;
}
form{
	width: 30%;
	margin: 0px auto;
	background: radial-gradient(#fff,#ffc0cb);
	border: 1px solid #80c4de;
	border-radius: 0px 0px 10px 10px;
	padding: 20px;
}
.input-group{
	margin: 10px 10px 0 0;
}
.input-group label{
	display: block;
	text-align: left;
	margin: 3px;
}
.input-group input{
	height: 30px;
	width: 90%;
	padding: 5px 10px;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid gray;
}
