*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.Dropdown{
	width: 100%;
	margin: 0 auto;
	position: fixed;
}
nav{
	height: 80px;
	background: black;
	box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}
.logo{
	padding: 5px 0 0 80px;
	width: 280px;
	height: 70px;
}
nav ul{
	padding: 0;
	margin: 0;
	float: right;
	margin-right: 30px;
}
nav ul li{
	background: black ;
	position: relative;
	list-style: none;
	display: inline-block;
}
nav ul li a{
	display: block;
	padding: 10px 10px 0 10px;
	color:#abdbe3 ;
	text-decoration: none;
	line-height: 60px;
	font-size: 20px;
}
nav ul li a:hover{
	background: gray;
}
nav ul ul{
	position: absolute;
	top: 60px;
	display: none;
}
nav ul li:hover > ul{
	display: block;
}
nav ul ul li{
	width: 150 px;
	float: none;
	display: list-item;
	position: relative;
}
nav ul ul li a{
	font-size: 15px;
	display: inline-block ;
	line-height: 30px;
}


a{
	text-decoration: none;
	color: #555;
}
p{
	color:  #555;
}

.Container{
	width: 100%;
    text-align: center;
    background-color: lightblue;
}

.logo-img{
	float: left;
    margin: 10px 550px 15px 0px;
}

.Row{
	height: 720px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
}
.TwinColumn{
	flex-basis: 50%;
	min-width: 300px;
}
.TwinColumn img{
	max-width: 100%;
	padding: 50px 0;
}
.TwinColumn h1{
	font-size: 50px;
	line-height: 60px;
	margin: 25px 0;
}

.Button{
	text-align: center;
	justify-content:center;
	display:inline-block ;
	background: #ff523b;
	color: #fff;
	padding: 8px 30px;
	margin: 30px 0;
	border-radius: 30px;
	transition:background 0.5s ;
}

.Button:hover{
	background: #0000ff;
}
body{
	background:radial-gradient(#fff,#abdbe3);
	font-family: 'Montserrat', sans-serif;
}
.Categories{ 
	margin: 40px 0;
}
.FiveColumn{
	flex-basis: 20%;
	min-width: 300px;
	margin-bottom: 30px;
	transition: transform 0.5s;
}
.FiveColumn img{
	width: 300px;
	height: 200px;
	border: 5px solid #abdbe3;
}

.FiveColumn:hover{
	transform: translateY(-7px);
}

.ContainerRow{
	height: 480px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.SmallContainer{
	max-width: 880px;
	margin: auto;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.ThreeColumnRow{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
}

.ThreeColumn{
	flex-basis:30%;
	padding: 10px;
	min-width: 200px;
	margin-bottom: 10px;
	transition: transform 0.5s;
}
.ThreeColumn img {
	width: 100%;
}
.ThreeColumn:hover{
	transform: translateY(-5px);
}

.Rating .fa{
	color:black ;
}

.Title{
	text-align: center;
	margin: 0 auto 80px;
	position: relative;
	line-height: 60px;
	color: #555;
}

.Title::after{
	content:'' ;
	background: #ff523b;
	width: 80px;
	height: 5px;
	border-radius: 5px;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}

.FeaturedReviews{
	padding-top: 100px;
}
.FeaturedReviews .ThreeColumn{
	text-align: center;
	padding: 40px 25px 20px;
	box-shadow: 0 0 20px 0px rgba(0, 0, 0, 1.0);
	cursor: pointer;
	transition: transform 0.5s ;
}
.FeaturedReviews .ThreeColumn img{
	width: 100px;
	margin-top: 20px;
	border-radius: 50%;
}

.Footer{
	background: black;
	color: #8a8a8a;
	font-size: 14px;
	padding: 60px 0 20px;
}
.Footer p{
	color: #8a8a8a;
}
.Footer h3{
	color: white;
	margin-bottom: 20px;
}
.FooterColumn{
	flex-basis: 30%;
	text-align: center;
}
.Footer .Row{
	height: 120px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
ul{
	list-style-type: none;
}

.Footer hr{
	border: none ;
	background: #b5b5b5;
	height: 2px;
	margin: 20px 0;
}

.Copyright{
	text-align: center;
}